<!DOCTYPE html>
<html>
    <!-- Define o tipo de documento como HTML5 -->

<head>
    <title>Certificado</title>
    <!-- Define o título da página que aparecerá na aba do navegador -->

</head>

<body>
    <!-- Início do corpo da página onde o conteúdo principal será exibido -->

    <h1>Certificado de Conclusão</h1>
    <!-- Cabeçalho principal com o título "Certificado de Conclusão" -->

    <p>Aluno: {{nome_aluno}}</p>
    <!-- Parágrafo que exibe o nome do aluno, utilizando a variável {{nome_aluno}} para ser substituída dinamicamente -->

    <p>Nacionalidade: {{nacionalidade}}</p>
    <!-- Parágrafo que exibe a nacionalidade do aluno, usando a variável {{nacionalidade}} -->

    <p>Curso: {{nome_curso}}</p>
    <!-- Parágrafo que exibe o nome do curso concluído pelo aluno, usando a variável {{nome_curso}} -->

    <p>Data de Conclusão: {{data_conclusao}}</p>
    <!-- Parágrafo que exibe a data de conclusão do curso, usando a variável {{data_conclusao}} -->
    
    <!-- Adicione outros campos conforme necessário -->
    <!-- Comentário sugerindo que campos adicionais podem ser adicionados aqui -->

</body>
<!-- Fim do corpo da página -->

</html>
<!-- Fim do documento HTML -->
